Repository khoapham14/simplict: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write", "vitest related --run --passWithNoTests"],
  "*.{json,md,css}": ["prettier --write"]
}

Updates
  assets/index-BFImcg64.js
  assets/index-BFImcg64.js.map
  assets/index-BVbGb4Kt.css
  assets/index-CDYjDl91.css
  assets/index-i5vWVeMY.js
  assets/index-i5vWVeMY.js.map
  index.html
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

Add timer ready state visual feedback and improve UX interactions
  src/Components/Scrambler/Scrambler.css
  src/Components/Timer/Timer.css
  src/Components/Timer/Timer.js
  src/Components/UI/Button.js
  src/Components/UI/Dropdown.js
  src/index.css
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

Updates
  assets/index-BQ08d0mt.css
  assets/index-CDYjDl91.css
  assets/index-CNXfoLiL.js
  assets/index-CNXfoLiL.js.map
  assets/index-i5vWVeMY.js
  assets/index-i5vWVeMY.js.map
  index.html
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

Update .gitignore to explicitly ignore .claude folder
  .gitignore
Due: none

Stop tracking .claude folder (already in .gitignore)
  .claude/CLAUDE.md
  .claude/settings.local.json
Due: prettier --write

Merge React 19, Vite, Tailwind migration with UX improvements
  .eslintcache
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  eslint.config.js
  index.html
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/Components/Scrambler/Scrambler.css
  src/Components/Scrambler/Scrambler.js
  src/Components/Scrambler/Scrambler.test.js
  src/Components/Statistics/SolveDetailModal.js
  src/Components/Statistics/SolveDetailModal.test.js
  src/Components/Statistics/SolveModal.css
  src/Components/Statistics/Statistics.css
  src/Components/Statistics/Statistics.js
  src/Components/Statistics/Statistics.test.js
  src/Components/Timer/Timer.css
  src/Components/Timer/Timer.js
  src/Components/Timer/Timer.test.js
  src/Components/UI/Button.js
  src/Components/UI/Button.test.js
  src/Components/UI/Dropdown.js
  src/Components/UI/Dropdown.test.js
  src/Components/UI/FloatingShapes.js
  src/index.css
  src/test/setup.js
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

Fix: Update index.js to remove bootstrap imports
  src/index.js
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

Updates
  assets/index-BQ08d0mt.css
  assets/index-CNXfoLiL.js
  assets/index-CNXfoLiL.js.map
  assets/index-CR2qNyOm.css
  assets/index-CS4AcrrE.js
  assets/index-CS4AcrrE.js.map
  index.html
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests
